<!-- <p>items works!</p> -->

<div class="container">
  <div class="contain-all">
    <div class="contain-head">
      <h2 style="color: aliceblue">CRUD with Angular and LocalStorage</h2>
      <h3 style="color: aliceblue">Add new item</h3>
      <p style="color: yellow" *ngIf="!check">Please Filled Data</p>
      <form (ngSubmit)="submitForm()">
        <input type="text" [formControl]="control_item" required />
        <button type="submit" [disabled]="control_item.invalid">Submit</button>
      </form>
    </div>

    <div class="contain-body">
      <h3>Items list</h3>
      <div class="items" *ngFor="let item of items; let i = index">
        <p>{{ item }}</p>
        <button (click)="updateClick(item, i)">Update</button>
        <button (click)="deleteClick(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
