<!-- <p>items works!</p> -->

<div class="container">
  <div class="contain-all">
    <h2>CRUD with angular and localStorage</h2>

    <div class="contain-body">
      <h3>Add new item</h3>
      <p style="color: red" *ngIf="!check">Please Filled Data</p>
      <form (ngSubmit)="submitForm()">
        <input type="text" [formControl]="control_item" required />
        <button type="submit">Submit</button>
      </form>

      <!-- {{ item }} -->

      <br />
      <h3>Items list</h3>
      <div class="items" *ngFor="let item of items">
        <p>{{ item }}</p>
        <button (click)="updateItem(item)">Update</button>
        <button (click)="deleteItem(item)">Delete</button>
      </div>
    </div>
  </div>
</div>
