/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Prompt&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;
    font-family: 'Prompt', sans-serif;   
}

body {
    /* background-color: black; */
    background-image: url(dark.jpg);
}